<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Create Post</title>
  </head>
  <body>
    <h1>Create Post</h1>
    <form method="POST" action="/create_post/">
      <!-- Ensure action is set correctly -->
      {% csrf_token %}
      <textarea
        name="content"
        required
        placeholder="Enter your post content..."
      ></textarea
      ><br />
      <input type="file" name="image" /><br />
      <button type="submit">Create Post</button>
    </form>
    <a href="{% url 'index' %}">Back to Posts</a>
  </body>
</html>
