{
    "bot": {
        "TOKEN": "YOUR_TELEGRAM_BOT_TOKEN",
        "TIMEZONE": "Europe/Berlin",
        "LOG_LEVEL": "INFO"
    },
    "commands": {
    "START": "start",
    "WELCOME": "welcome",
    "NIGHTMODE_ENABLE": "night_mode_enable",
    "NIGHTMODE_DISABLE": "night_mode_disable",
    "TMDB_LANGUAGE": "set_language",
    "SET_GROUP_ID": "set_group_id",
    "HELP": "help",
    "SEARCH": "search"
    },
    "welcome": {
        "IMAGE_URL": "URL_TO_YOUR_WELCOME_IMAGE",
        "BUTTON_URL": "URL_TO_YOUR_BUTTON",
        "SUPPORT_URL": "URL_TO_YOUR_BUTTON"
    },
    "nightmode": {
    "NIGHTMODE_START": "00:00",
    "NIGHTMODE_END": "08:00"
  },
    "tmdb": {
        "API_KEY": "YOUR_TMDB_API_KEY"
		"DEFAULT_LANGUAGE": "en"
    },
    "sonarr": {
        "URL": "http://localhost:8989",
        "API_KEY": "YOUR_SONARR_API_KEY",
        "QUALITY_PROFILE_NAME": "HD-720p/1080p",
        "ROOT_FOLDER_PATH": "/tv"
    },
    "radarr": {
        "URL": "http://localhost:7878",
        "API_KEY": "YOUR_RADARR_API_KEY",
        "QUALITY_PROFILE_NAME": "HD-720p/1080p",
        "ROOT_FOLDER_PATH": "/movies"
    }
}

