name: Discord Webhook

on:
  release:
    types: [created, edited]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.19.0
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          color: "2105893"
          username: "Telegram BOT Releases"
          avatar_url: "https://github.com/cyb3rgh05t/telegram-bot/blob/main/images/webhook.png?raw=true"
          content: "<@408885990971670531> New Telegram BOT release published!"
          footer_title: "GitHub Changelog"
          footer_icon_url: "https://github.com/cyb3rgh05t/telegram-bot/blob/main/images/github-webhook.png?raw=true"
          footer_timestamp: true
